.bandeauImage {
  background-image: url(imageBandeau.jpg);
  background-position: center;
  background-size: cover;
  height:500px;
  width:100%;
  display: flex;
}

.bandeauPresentation {
  height:130px;
  width:40%;
  z-index: 1;
  border-radius:3px;
  margin-top: 50vh;
  margin-left: 12vh;
  padding-bottom: 2.5vh;
  padding-top:2.5vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  text-align: left;
  background-color: rgba(57,166,255,0.9);

}

.couleur-font-bandeau {
  color: #FFFFFF;
}

.kickass-p-titre {
  font-size: 2.5em;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  margin-bottom: 1vh;
}

.kickass-p-bandeau {
  font-size:1.09em;
  line-height: 1.2em;
  font-family: Roboto,sans-serif;
  font-weight: 200;
}

.kickass-infos {
  text-align: right;
}

a {
color: #FFFFFF;
text-decoration: none;
}

a:link {color: #FFFFFF;}
a:hover {color:rgb(250,166,230) ;}

@media all and (max-device-width: 920px) {

  .bandeauPresentation {
    width:100%;
    margin-left: 0vh;
    padding-bottom: 2.5vh;
    padding-top:2.5vh;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .bandeauImage {
    height :auto;
  }
}
