.Projetsaleatoires {
    padding-top: 8vh;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width:100%;
  }
.container-card {
  width:100%;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;

}
.kickass-card {
  height:310px;
  width:22%;
  z-index: 1;
  border-radius:3px;
  border: 3px solid black;
  margin-top: 8vh;
  padding-bottom:7px;
}

.miniature-projet {
  width:100%;
  border-radius: 2px;
  margin-bottom: 2vh;
}

.container-detail-projet {
  margin-top: 3vh;
  display:flex;
  align-items:center;
}

.positionnement-element-card {
  padding-left:2vh;
}

.espace-icone {
  margin-left: 2vh;
}

.positionnement-bouton{
  width:100%;
  margin-top: 40px;
  text-align: right;
}
.bouton-style {
  width: 22%;
  height: 35px;
  font-family:Roboto,sans-serif;
  font-size:1em;
  background-color: #FFFFFF;
}

@media all and (max-device-width: 920px) {

.Projetsaleatoires {
  padding-top: 8vh;
  background-position: center;
  background-size: cover;
  width:100%;
  margin:auto;
}

.container-card {
  flex-direction: column;
  align-items: center;
}

.kickass-card {
  align-items: center;
  height:310px;
  width:75%;
  border-radius:3px;
  border: 0.1em solid grey;
  padding-bottom:40px;
  margin-bottom: 8px;
}

.positionnement-bouton{
  margin: 45px auto 10px auto;
  text-align: center;
}

.bouton-style {
  margin:0 auto;
  width: 35%;
  height:50px;
  font-family:Roboto,sans-serif;
  font-size:1em;
  background-color: #FFFFFF;
}
}
