/* mini frameworks */
.kickass-flex{
  display: flex;
}


/* ==================================== */

.kickass-menu{
  display: flex;
  justify-content: space-between;
  /*padding:30px 10px;*/
  border-bottom:6px solid #39A6FF;
}
/*
.kickass-menu div i{
  font-size: 3rem;
}*/

.kickass-logo{
  padding:20px 10px;
}

.kickass-logo i{
  font-size:3rem;
}

.kickass-menu-btn{
  padding:20px 0;
}

.kickass-menu-btn i{
  font-size: 1.5rem;
  padding:0px 20px 0px 0px;
}

.kickass-search{
  padding:28px 0;
}

.kickass-search i{
  font-size:1.6rem;
  padding: 0 5px;
}

.kickass-search input{
  width: 20vw;
  height: 25px;
}

.kickass-sign, .kickass-login{
  background: #FFFFFF;
  border:none;
  padding:35px 10px 0px 10px;
  color:#000000;
}

.kickass-login{
  border-left: 1px solid #C3C1C4;
}

.kickass-login:hover{
  background: #39A6FF;
  color:#FFFFFF;
}
