.Projetsaleatoires {
    padding-top: 20px;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width:100%;
  }
.container-card {
  width:100%;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;

}
.kickass-card {
  z-index: 1;
  border-radius:3px;
  height: 340px;
  width: 220px;
  border: 1px solid #C3C1C4;
  margin-top: 20px;
  padding-bottom: 7px;
}

.miniature-projet {
  width:100%;
  border-radius: 2px;
  margin-bottom: 10px;
}

.container-detail-projet {
  margin-top: 30px;
  display:flex;
  align-items:center;
}

.positionnement-element-card {
  padding-left:10px;
}

.espace-icone {
  margin-left: 10px;
}

.positionnement-bouton{
  width:100%;
  margin-top: 40px;
  text-align: right;
}
.bouton-style {
  font-family:Roboto,sans-serif;
  font-size:1em;
  background-color: #FFFFFF;
  width: 200px;
  height: 55px;
  margin: 0 0 40px 0;
}


@media all and (max-device-width: 920px) {

  .Projetsaleatoires {
    padding-top: 20px;
    background-position: center;
    background-size: cover;
    width:100%;
    margin:auto;
  }

  .container-card {
    flex-direction: column;
    align-items: center;
  }

  .kickass-card {
    align-items: center;
  }

  .positionnement-bouton{
    margin: 45px auto 10px auto;
    text-align: center;
  }

}
